@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300&display=swap');

html{
    font-family: Inter, Monserrat;
}

header{
    font-size: 40px;
    font-weight: 700;
    width: 1440px;
    height: 100px;
    color:white;
    background: black;
    display: flex;
    justify-content:center;
    align-items: center;
}

.container{
    height: 1020px;
    width: 1020px;
    /* border: solid 2px red; */
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    
}

.jobTitle{
    font-size: 30px;
    font-weight: 400;
}

.jobDetails{
    font-size: 18px;
    font-weight: 400;
}

.red-box{
    padding: 18px 17px;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    border: solid 10px red;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.green-box{
    height: 300px;
    width: 300px;
    border: solid 10px green;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 17px;
    box-sizing: border-box;
}

.yellow-box{
    height: 300px;
    width: 300px;
    border: solid 10px yellow;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 17px;
    box-sizing: border-box;
}

.blue-box{
    height: 300px;
    width: 300px;
    border: solid 10px blue;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 17px;
    box-sizing: border-box;
}

.pink-box{
    height: 300px;
    width: 300px;
    border: solid 10px pink;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 17px;
    box-sizing: border-box;
}




/* FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#DDDDDD;
    height: 63px;
}